.list-card {
   margin: 0 -15px;
   overflow-x: hidden;
   &::-webkit-scrollbar {
      background-color: var(--bg-main);
      height: 4px;
   }
   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--bg-scroll-thumb);
   }
   &.list-card--wrap {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      overflow-x: hidden;
      & .card {
         margin-bottom: 26px;
      }
   }
}
.slick-track {
   display: flex;
   // transform: translate3d(0px, 0px, 0px);
}
