.topic {
   user-select: none;
   &-header {
      display: flex;
      align-items: stretch;
      margin-bottom: 10px;

      &__icons {
         display: flex;
         transform: translateY(1px);
         margin-left: auto;
         & .icon-wrapper {
            padding: 0 5px;
            & i {
               margin: 0;
            }
            & + .icon-wrapper {
               margin-left: 20px;
            }
            &:hover {
               filter: brightness(0.9);
               cursor: pointer;
            }
         }
      }
   }
   & a[class*="topic-title"] {
      transition: all 0.1s linear;
      display: flex;
      align-items: center;

      & i {
         margin: 0 0 0 2px;
         transform: translateY(1px);
      }

      &:hover {
         color: var(--cl-hover-link-text);
         & > i {
            color: var(--cl-hover-link-text);
         }
      }
   }
   &-title {
      font-size: 20px;
      font-weight: 700;
   }
   & + .topic {
      margin-top: 30px;
   }
}
