.header-left {
   display: flex;
   align-items: center;
   flex: 1;
}
.btn-group--nav {
   display: flex;
   margin-right: 20px;

   & button {
      cursor: pointer;
      &:first-child {
         padding-right: 10px;
      }
      &:nth-child(2) {
         padding-left: 10px;
      }
   }
}
