.playlist-container {
   margin-top: 35px;
}
.playlist {
   &-main {
      display: flex;
   }
   &-content {
      flex: 1;
      &__description {
         font-size: 14px;
         padding-bottom: 10px;
      }
   }
   &-info {
      &__song {
         text-align: center;
         margin-top: 12px;
      }
      &__name {
         font-size: 20px;
         font-weight: 700;
         line-height: 30px;
      }
      &__follower {
         font-size: 12px;
         line-height: 21px;
         color: var(--text-secondary);
      }
   }
}
