.header {
   position: relative;
   height: 70px;
   background-color: inherit;

   &-wrapper {
      position: fixed;
      top: 0;
      left: 240px;
      right: 0;

      width: calc(100% - 244px);
      padding: 15px 26px 15px 30px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: inherit;
      z-index: 100;
      // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
   }
}
