.button {
   display: block;
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
   padding: 0;
   transition: all 0.2s linear;
   user-select: none;
}
.button.button--normal {
   color: #fff;
   padding: 10px 20px;
   border-radius: 20px;
   & i {
      font-size: 16px;
      width: 16px;
      height: 16px;
      color: #fff;
      margin-right: 4px;
   }
   &.button-primary {
      background-color: var(--cl-primary);
      &:hover {
         filter: brightness(0.8);
      }
   }
}
.button.button--text {
   &:hover {
      filter: brightness(0.8);
   }
}
.button.disabled {
   opacity: 0.3;
   cursor: none;
   user-select: none;
   pointer-events: none;
}
.button.button--flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
.button-heading {
   width: 40px !important;
   height: 40px !important;
   background-color: var(--cl-primary) !important;
}
.button--hover {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   transition: background-color 0.2s linear;

   &:hover {
      background-color: var(--cl-border-primary);
   }
   & i {
      width: 16px;
      height: 16px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
   }
}
.button--hover-square {
   @extend .button--hover;
   border-radius: 4px;
   background-color: var(--bg-alpha);

   &:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
   }
}
.button--hover-square.button--active-square {
   background-color: var(--cl-primary);
   &:hover {
      filter: brightness(0.9);
   }
}
.button--hover-circle {
   @extend .button--hover;
   background-color: var(--bg-alpha);
   &:hover {
      filter: brightness(0.9);
      background-color: var(--bg-alpha);
   }
   &.lg-size {
      width: 35px;
      height: 35px;
   }
}
.button--hover-no-shape {
   @extend .button--hover;
   border-radius: unset;
   &:hover {
      background-color: unset;
      filter: brightness(0.9);
   }
}

//custom here
.button--card {
   border-radius: 50%;
   transition: background-color 0.3s linear;
   & i {
      color: #fff;
      font-size: 20px;
      margin-right: 0;
      width: 20px;
      height: 20px;
   }
   &:nth-child(2) {
      width: 45px;
      height: 45px;
      display: block;
      & i {
         width: 45px;
         height: 45px;
      }
   }
   &.button--hover {
      &:hover {
         filter: brightness(0.9);
         background-color: var(--bg-hover-control);
      }
   }
}
.button--middle {
   width: 45px;
   height: 45px;
   display: block;
}

//active
.button--card {
   & i.icon.ic-like-full {
      color: var(--cl-primary);
   }
}
//button heart
.button--heart {
   position: relative;

   & i.ic-like-full {
      position: absolute;
      transition: all 0.2s linear;
      color: var(--cl-primary);
      top: -35px;
      visibility: hidden;
   }
   &.active {
      & i.ic-like-full {
         top: 5px;
         visibility: visible;
      }
      & i.ic-like {
         transition: all 0.2s linear;

         visibility: hidden;
      }
   }
}
