.button {
   display: block;
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
   padding: 0;
}
.button.disabled {
   opacity: 0.3;
   cursor: none;
   user-select: none;
   pointer-events: none;
}
.button.button--flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.button--hover {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   transition: background-color 0.3s linear;

   &:hover {
      filter: brightness(0.9);
      background-color: var(--bg-hover-control);
   }
   & i {
      width: 16px;
      height: 16px;
      font-size: 16px;
   }
}
//custom
.button--card {
   border-radius: 50%;
   transition: background-color 0.3s linear;
   & i {
      color: #fff;
      font-size: 20px;
      margin-right: 0;
      width: 20px;
      height: 20px;
   }
   &:nth-child(2) {
      width: 45px;
      height: 45px;
      display: block;
      & i {
         width: 45px;
         height: 45px;
      }
   }
}
