.player-actions {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 0 0 30%;
   & button {
      & + button {
         margin-left: 10px;
      }
   }
   & > button:first-child {
      & i {
         font-size: 20px;
         width: 20px;
         height: 20px;
      }
   }
   & > button:last-child {
      width: 28px;
   }
   & div:not([class]) {
      width: 1px;
      height: 33px;
      margin: 0 20px;
      background-color: var(--cl-border-primary);
   }
}
.player-volume__wrapper {
   display: flex;
   margin: 0 10px;
   &:hover .progress-bar__gray {
      height: 5px;
   }
}
