.progress {
   &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &-time {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin-left: 10px;
      flex-basis: 36px;
      text-align: center;
      &:first-child {
         margin: 0 10px 0 0;
         opacity: 0.5;
      }
   }
}

.progress-bar {
   &__wrapper {
      height: 15px;

      display: flex;
      align-items: center;
      flex-grow: 1;
      position: relative;

      overflow: hidden;
      cursor: pointer;
      &:hover {
         & input {
            height: 7px;
            &::-webkit-slider-thumb {
               visibility: visible;
            }
         }
      }
      & input {
         position: absolute;
         width: 100%;
         // background: linear-gradient(
         //    to right,
         //    #ffffff 0%,
         //    #ffffff 50%,
         //    #808080 50%,
         //    #808080 100%
         // );
         border: solid 1px;
         border-radius: 8px;
         height: 5px;
         outline: none;
         cursor: pointer;
         -webkit-appearance: none;
         &::-webkit-slider-thumb {
            background-color: #fff;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            -webkit-appearance: none;
            visibility: hidden;
         }
      }
   }
}
