.sidebar {
   height: 100%;
   width: 240px;
   position: relative;
   &-wrapper {
      position: fixed;

      width: 240px;
      height: 100%;

      display: flex;
      flex-flow: column;
      z-index: 100;
   }
}
.sidebar__navbar--scroll {
   padding-top: 14px;
   flex: 1;
   overflow-y: auto;
   &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
   }
   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--bg-scroll-thumb);
   }
}
