// html root ,...
:root {
   --pd-content-sidebar: 7px 25px;
   --bg-sidebar: #231b2e;
   --bg-main: #170f23;
   --cl-text-nav: #dadada;
   --cl-hover-nav: #fff;
   --cl-border-primary: hsla(0, 0%, 100%, 0.1);
   --cl-primary: #7200a1;
   --bg-alpha: hsla(0, 0%, 100%, 0.1);
   --cl-hover-link-text: #c662ef;
   --cl-text-card-artist: hsla(0, 0%, 100%, 0.5);
   --bg-scroll-thumb: hsla(0, 0%, 100%, 0.3);
   --bg-hover-control: hsla(0, 0%, 100%, 0.3);
   --bg-player: #120c1c;
   --cl-border-thumbnail: hsla(0, 0%, 100%, 0.8);
   --bg-queue: #120822;
   --text-secondary: hsla(0, 0%, 100%, 0.5);
   --artist-layout-bg: rgba(41, 21, 71, 0.8);
}

// --primary-bg: #432275;
// --layout-bg: #170f23;
// --sidebar-popup-bg: #2a213a;
// --alpha-layout-bg: rgba(41,21,71,0.8);
// --queue-player-popup-bg: #120822;
// --blur-queue-bg: rgba(30,21,47,0.9019607843137255);
// --purple-primary: #7200a1;
// --link-text-hover: #c662ef;
// --chart-bg-img-alpha: rgba(32,19,53,0.9);
