// html root ,...
:root {
   --pd-content-sidebar: 7px 25px;
   --bg-sidebar: #231b2e;
   --bg-main: #170f23;
   --cl-text-nav: #dadada;
   --cl-hover-nav: #fff;
   --cl-border-primary: hsla(0, 0%, 100%, 0.1);
   --cl-primary: #7200a1;
   --bg-alpha: hsla(0, 0%, 100%, 0.1);
}
