@mixin icon-size($width, $height, $fontSize) {
   width: $width;
   height: $height;
   font-size: $fontSize;
}
@mixin tooltip($content) {
   content: $content;
   position: absolute;
   top: 110%;
   width: max-content;
   padding: 5px;
   border-radius: 4px;

   font-size: 12px;
   background-color: #333;

   pointer-events: none;
   cursor: default;
   transition: all 0.1s linear;
   visibility: hidden;
   opacity: 0;
}
@mixin tooltip-visible {
   visibility: visible;
   opacity: 1;
}
@mixin line-clamp($line-clamp) {
   display: -webkit-box;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
   overflow: hidden;
   word-break: break-all;
}
