*,
*:before,
*:after {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Inter", sans-serif;
   color: #fff;
   &::-webkit-scrollbar {
      width: 4px;
      background-color: var(--bg-main);
   }
   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--bg-scroll-thumb);
   }
}
ol,
ul {
   list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: normal;
}
img {
   display: block;
   width: 100%;
   height: auto;
}
a {
   color: #fff;
   font-family: "Inter", sans-serif;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   margin: 0px;
   padding: 0px;
   &:active,
   &:visited {
      color: unset;
   }
}
input {
   font-family: "Inter", sans-serif;
   padding: 0;
}
