.layout {
   // height: 100%;//maybe error
   min-height: 100vh;

   display: flex;
   flex-flow: column;
   &-wrapper {
      height: 100%;
      // min-height: 100vh;//maybe error
      display: flex;
   }
   &-left {
      background-color: var(--bg-sidebar);
   }
   &-right {
      flex: 1;
      width: calc(100% - 240px);
      height: calc(100vh - 90px);

      background-color: var(--bg-main);
      overflow: hidden auto;
      &::-webkit-scrollbar {
         width: 4px;
         background-color: var(--bg-main);
      }
      &::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-color: var(--bg-scroll-thumb);
      }
   }
}
